header {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 1240px;
    min-width: 320px;
    padding: 10px;
    margin: 0 auto;
    border-bottom: solid 1px black;
}

/* ЛОГОТИП */
.custom-logo {
    max-width: 55px;
    max-height: 55px;
    margin: 0 16px;
}
