@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url(./fonts/static/Montserrat-Black.ttf);
	src: url(./fonts/static/Montserrat-BlackItalic.ttf);
	src: url(./fonts/static/Montserrat-Bold.ttf);
	src: url(./fonts/static/Montserrat-BoldItalic.ttf);
	src: url(./fonts/static/Montserrat-ExtraBold.ttf);
	src: url(./fonts/static/Montserrat-ExtraBoldItalic.ttf);
	src: url(./fonts/static/Montserrat-ExtraLight.ttf);
	src: url(./fonts/static/Montserrat-ExtraLightItalic.ttf);
	src: url(./fonts/static/Montserrat-Italic.ttf);
	src: url(./fonts/static/Montserrat-Light.ttf);
	src: url(./fonts/static/Montserrat-LightItalic.ttf);
	src: url(./fonts/static/Montserrat-Medium.ttf);
	src: url(./fonts/static/Montserrat-MediumItalic.ttf);
	src: url(./fonts/static/Montserrat-Regular.ttf);
	src: url(./fonts/static/Montserrat-SemiBold.ttf);
	src: url(./fonts/static/Montserrat-Thin.ttf);
	src: url(./fonts/static/Montserrat-ThinItalic.ttf);
	src: url(./fonts/static/Montserrat-SemiBoldItalic.ttf);
	src: url(./fonts/Montserrat-Italic-VariableFont_wght.ttf);
	src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

* {
	margin: 0; 
	padding: 0;
	box-sizing: border-box; 
	color: rgba(0, 0, 0, 1);
	font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
	display: flex; 
	flex-direction: column;
	align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: right 40px top 120px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
	flex-grow: 1;
}

.container {
    max-width: 1240px;
    min-width: 320px;
    margin: 0 auto;
    padding: 10px;
}
